body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #000;
}

nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5px 0 5px 0;
  margin: 0;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #121212;
}

.primary-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 150px;
}

.logo-tag {
  display: flex;
  justify-content: center;
}

.logo {
  width: 160px;
}

.primary-nav li {
  padding: 10px;
  font-weight: 400;
  text-decoration: none;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.primary-nav li:hover {
  background-color: #252525;
  border-radius: 5px;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #121212;
  color: gainsboro;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 100px;
}

.card {
  max-width: 200px;
  margin: 10px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  border-radius: 5px;
}

.card-image {
  max-width: 100%;
  height: 290px;
}

.series-title {
  margin: 15px 5px 5px 5px;
  color: white;
  text-align: center;
}

.heart {
  text-align: center;
  color: #f4c518;
  font-size: 22px;
  cursor: pointer;
}

.heart:hover {
  color: #65a0f0;
}

.likes {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.comments-button {
  background-color: gainsboro;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  width: 100px;
  border: 0;
  padding: 10px;
}

/* Modal comment */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-info {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0;
  column-gap: 20px;
}

.formFlex {
  display: flex;
  flex-direction: column;
}
